
# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
python-notebooks/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Database files
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
