version: '3.8'

services:

  python:
    image: python:3.10-slim
    container_name: python
    restart: always
    volumes:
      - ./python-app:/app
    working_dir: /app
    command: bash -c "pip install -r requirements.txt && python app.py"
    ports:
      - "5000:5000"

  react-app:
    image: node:20-alpine
    container_name: react-app
    restart: always
    volumes:
      - ./react-app:/app
      - /app/node_modules
    working_dir: /app
    command: sh -c "npm install && npm run build -- --host 0.0.0.0"
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development